In [2]:
from google.oauth2 import service_account

In [3]:
import pandas as pd
pd.set_option ('display.max_columns', 599)
pd.set_option ('display.max_rows', 599)

project_id = 'kolesa-android-app'
credentials = 'kolesa-android-app-715adc9bdf26.json'
credentials = service_account.Credentials.from_service_account_file(credentials)

In [4]:
q = "SELECT * FROM `kolesa-android-app.academy.time_series_dataset` ORDER BY 1"
data = pd.read_gbq(q, project_id=project_id, credentials=credentials, dialect='standard', progress_bar_type = 'tqdm')
data.head()

Downloading: 100%|█████████████████████████████████████████████████████████████|

   event_date      y
0  2020-01-01   5721
1  2020-01-02   8274
2  2020-01-03   9344
3  2020-01-04   9864
4  2020-01-05  10435

In [8]:
import matplotlib.pyplot as plt

In [15]:
data.iloc[730:750]

     event_date      y
730  2021-12-30  12539
731  2021-12-31   9539
732  2022-01-01   9772
733  2022-01-02  13709
734  2022-01-03  15046
735  2022-01-04  14441
736  2022-01-05   4945
737  2022-01-06    324
738  2022-01-07     51
739  2022-01-08    795
740  2022-01-09   2643
741  2022-01-10   7611
742  2022-01-11  14051
743  2022-01-12  14835
744  2022-01-13  14727
745  2022-01-14  14771
746  2022-01-15  14738
747  2022-01-16  15317
748  2022-01-17  15896
749  2022-01-18  16053